body {
    box-shadow: inset 0 0 10px #000000;
    display: block;
    font-family: Arial, sans-serif;
    background-color: #f9f5f5;
    margin: 20px;
    padding: 20px;
    color: #333;
    box-decoration-break: clone;
}

h1 {
    box-shadow: border-box;
    color: #0ac643;
    text-align: center; 
    display: flexbox;
    text-align: center;
    padding: 10px 20px;
    background-color: #1d980d;
    color: #060404;
}

input[type="number"] {
    content: icon;
    box-sizing: initial;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #030303;
    border-radius: 4px;
}

button {
    cursor: vertical-text;
    display: inline-block;
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:checked {
    background-color: #4cae4c;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}

#tentativas {
    margin-top: 10px;
}